:root {
  --bg-page-color: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
  --faq-card-bg-color: #ffffff;
  --faq-active-accordion: #1e1f36;
  --faq-active-panel: #787887;
  --faq-inactive-accordion: #4b4c5f;
  --faq-family-font: "Kumbh Sans", sans-serif;
  --faq-card-lines: #e8e8ea;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: var(--bg-page-color);
  background-repeat: no-repeat;
  min-height: 768px;
  font-family: var(--faq-family-font);
}

.faq-card {
  width: 327px;
  height: 535px;
  margin: 148px auto;
  background: var(--faq-card-bg-color);
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  border-radius: 23px;
}

.faq-icon-woman-content-mobile {
  background: url(images/illustration-woman-online-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 237px;
  height: 180px;
  left: 50px;
  top: 50px;
}

.faq-pattern-content-mobile {
  background: url(images/bg-pattern-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 220px;
  height: 105px;
  position: relative;
  margin-right: 43px;
  margin-left: 44px;
}

h1 {
  text-align: center;
}

.faq-card-content {
  width: 279px;
  height: 355px;
  margin: auto;
}

.accordion {
  color: var(--faq-inactive-accordion);
  font-size: 13px;
}
.accordion:hover {
  color: #f47b56;
}
.accordion.active {
  color: var(--faq-active-accordion);
  font-weight: 700;
}

.accordion::after {
  position: absolute;
  content: url(images/icon-arrow-down.svg);
  right: 48px;
}
.accordion.active::after {
  transform: rotate(180deg);
}

.panel {
  color: var(--faq-active-panel);
  max-height: 0;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  opacity: 0;
  line-height: 18px;
  font-size: 12px;
  text-align: left;
}

.panel.show {
  opacity: 1;
  max-height: 40px;
  margin-bottom: 16px;
}

.faq-card-line {
  width: 279px;
  border: 1px solid var(--faq-card-lines);
  margin-bottom: 16px;
}

.attribution {
  width: 50%;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .faq-card {
    width: 300px;
    margin: 100px auto;
  }

  .faq-icon-woman-content-mobile {
    top: 0px;
    left: 35px;
  }

  .faq-card-content {
    width: 250px;
  }

  .faq-card-line {
    width: 230px;
  }

  .accordion::after {
    right: 30px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .faq-card {
    width: 360px;
    margin: 140px auto;
  }

  .faq-icon-woman-content-mobile {
    top: 40px;
    left: 75px;
  }

  .faq-pattern-content-mobile {
    left: 20px;
  }

  .faq-card-content {
    width: 300px;
  }

  .faq-card-line {
    width: 270px;
  }

  .accordion::after {
    right: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .faq-card {
    width: 460px;
    margin: 140px auto;
  }

  .accordion::after {
    right: 190px;
  }

  .faq-icon-woman-content-mobile {
    top: 40px;
    left: 260px;
  }

  .faq-pattern-content-mobile {
    left: 90px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1139px) {
    .faq-icon-woman-content-mobile{
        margin-left: 130px;
    }

    .accordion::after{
        margin-right: 130px;
    }
}
@media screen and (min-width: 1140px) {

    body{
overflow-x: hidden;
        width: auto;
    }
    main{
        position: absolute;
        width: 1440px;
        height: auto;
    }
  .faq-icon-woman-content-mobile,
  .faq-pattern-content-mobile {
    display: none;
  }

  .faq-icon-woman-content-desktop {
    background: url(images/illustration-woman-online-desktop.svg) no-repeat;
    background-size: cover;
    position: absolute;
    width: 472px;
    height: 359px;
    left: -84px;
    top: 70px;
  }
  .faq-pattern-content-desktop {
    background: url(images/bg-pattern-desktop.svg);

    position: absolute;
    width: 964px;
    height: 944px;
    left: -576px;
    top: -294px;
    z-index: 1;
  }

  .faq-box-content-desktop {
    background: url(images/illustration-box-desktop.svg) no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 100;
    transform: scale(1.5);
    width: 90px;
    height: 106px;
    left: 205.93px;
    top: 355.13px;
    z-index: 10;
  }

  .faq-card {
    position: absolute;
    overflow: hidden;
    width: 920px;
    height: 509px;
    top: 129px;
    left: 260px;
    margin: auto;
  }

  .faq-card-content {
    position: absolute;
    width: 350px;
    margin-top: 65px;
    left: 51.63%;
    right: 41.09%;
  }

  h1 {
    text-align: left;
    margin-bottom: 43px;
  }

  .accordion {
    font-size: 14px;
  }

  .accordion::after {
    position: absolute;
    left: 93.14%;
    right: 4.57%;
  }

  .panel {
    max-width: 320px;
    font-size: 12px;
  }

  .faq-card-line {
    width: 350px;
  }

  .attribution {
    position: absolute;
    top: 750px;
    left: 450px;
    width: 500px;
    margin: auto;
    text-align: center;
  }
}
